@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap')
  
$orange: #f6941d
$blue: #003f7b
$white: #ffffff
$gray: #676767

body
  background-color: $blue
  font-family: 'Sanchez', serif

.page-header
  background-color: $white
  text-align: center
  padding-bottom: 0.2em
  padding-top: 0.9em

.page-content
  $sideMargin: 10em
  $tbMargin: 5em
  text-align: center
  color: $white
  margin: $tbMargin $sideMargin $tbMargin $sideMargin

.card-box
  display: flex
  flex-direction: row
  margin-left: auto
  margin-right: auto
  margin-top: 5em

.game-cards
  max-width: 15em
  margin-left: auto
  margin-right: auto
  img
    max-width: 15em
  a + p
    font-size: 14pt
    text-shadow: -2px 2px 1px #000000
  hr
    border: 1px solid $orange
